/* 
    Document   : meu_estilo
    Created on : 16/11/2012, 19:02:43
    Author     : aaaaa
    Description:
        Purpose of the stylesheet follows.
*/
hr{
    border: 1px #ccc dotted;
}

h4{
    font-weight: normal;
}

.cinza_gradiente{
    background: -moz-linear-gradient(top,  rgba(224,224,224,0.65) 0%, rgba(222,222,222,0.65) 1%, rgba(110,110,110,0) 50%, rgba(0,0,0,0) 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,0.65)), color-stop(1%,rgba(222,222,222,0.65)), color-stop(50%,rgba(110,110,110,0)), color-stop(98%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(224,224,224,0.65) 0%,rgba(222,222,222,0.65) 1%,rgba(110,110,110,0) 50%,rgba(0,0,0,0) 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(224,224,224,0.65) 0%,rgba(222,222,222,0.65) 1%,rgba(110,110,110,0) 50%,rgba(0,0,0,0) 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(224,224,224,0.65) 0%,rgba(222,222,222,0.65) 1%,rgba(110,110,110,0) 50%,rgba(0,0,0,0) 98%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(224,224,224,0.65) 0%,rgba(222,222,222,0.65) 1%,rgba(110,110,110,0) 50%,rgba(0,0,0,0) 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e0e0e0', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

.back_topo{
    background: url(img/back_topo.png);
    height: 150px;
    top: 0;
}
.back_rodape{
    background: url(img/back_rodape.png);
    height: 150px;
    z-index: -999;
}
.back_direita{
    background: url(img/direita.png);
    background-repeat: repeat-y;
    background-position: right;    
}
.painel_fixo{    
    float: right !important;
    position: relative !important;
    left: -30px !important;
    min-height: 600px;
}

/*.bg-color-green{
    color: white;
}*/